@font-face {
    font-family: header_font;
    src: url(../font/header_font.otf);
}
 
@font-face {
    font-family: nav_font;
    src: url(../font/nav_font.ttf);
}

@font-face {
    font-family: footer_name_font;
    src: url(../font/footer_name_font.ttf);
}

@font-face {
    font-family: slogan_font;
    src: url(../font/slogan_font.ttf);
}

*{
    margin: 0;
}

header{
    padding: 48px 0px 400px 65px;
    background-image: url(../image/order_header.jpg);
    background-position: relative;
    background-size: 100% 100%;

    image-rendering: pixelated;
    image-resolution: 100%;

    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
    
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 80;
    }
}

#greet{
    color: #000000f4;
    letter-spacing: 1.3px;
    font-family: header_font;
    font-size: 15px;
    text-align: left;
    margin: 40px 0px 0px 0px;
    font-style: italic;
}

#judul{
    display: inline;
    color: #161616f4;    
    position: absolute;
    letter-spacing: 1.3px;
    font-family: header_font;
    font-size: 23px;
    text-decoration: none;
}

#judul_halaman {
    margin-top: 370px;
    margin-left: -60px;
    color: #000000f4;    
    letter-spacing: 1.3px;
    font-family: header_font;
    font-size: 40px;
    text-align: center;
}

header nav a{
    display: inline;
    position: relative;
    letter-spacing: 1.3px;
    font-family: nav_font;
    float: right;
    padding-top: 4px;
    padding-right: 15px;
    text-decoration: none;
    color: #161616f4;
}

footer {
    background-color: #F3F5F5;
    padding: 40px 0px 70px 95px;
    color: #464646;
}

footer div a{
    margin-left: 7px;
    text-indent: 5px;
}

#nama {
    color: #000000;
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 3px;
    font-family: footer_name_font;
}

#slogan {
    width: 70%;
    margin-top: 5px;
    display: inline-block;
    font-size: 12px;
    font-family: slogan_font;
    letter-spacing: 3px;
}

#telpon {
    display: inline-block;
    text-align: right;
    font-size: 12px;
    font-family: slogan_font;
    letter-spacing: 3px;
}

#kontak {
    font-size: 18px;
    font-family: slogan_font;
    letter-spacing: 4px;
}

#copyright {
    color: #aaaaaa;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: footer_name_font;
}

/* ORDER */

form {
    width: 50%;
    margin: auto;
    padding: 10px;
    letter-spacing: 1px;
    font-family: footer_name_font;
    font-size: 15px;
    color: #000000;
  }
  
  input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  input[type=radio], input[type=checkbox] {
    margin-left: 10px;
  }
  
  .borang form a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    background-color: #161616f4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .borang form a:hover {
    background-color: #2e2e2ef4;
  }
  
  